appdirs==1.4.4
astroid==2.7.3
autopep8==1.5.5
Brlapi==0.8.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
click-plugins==1.1.1
colorama==0.4.4
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
flake8==3.8.4
idna==3.2
isort==5.9.3
jedi==0.17.2
lazy-object-proxy==1.6.0
libxml2-python==2.9.10
lockfile==0.12.2
louis==3.15.0
mccabe==0.6.1
nest-asyncio==1.5.1
parso==0.7.1
platformdirs==2.3.0
pluggy==1.0.0
pproxy==2.7.8
pycairo==1.20.1
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
PyGObject==3.40.1
pylint==2.10.2
pyserial==3.5
PySide6==6.1.3
python-daemon==2.3.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pyxdg==0.27
requests==2.26.0
rope==0.19.0
shiboken6==6.1.3
shodan==1.25.0
six==1.16.0
snowballstemmer==2.1.0
toml==0.10.2
ujson==4.1.0
urllib3==1.26.6
virtualenv==20.4.7
wrapt==1.12.1
XlsxWriter==3.0.1
yapf==0.31.0
youtube-dl==2021.6.6
